<!DOCTYPE html>
<html>
  <head>
   <title><%= yield(:title) %></title>
      <script src="https://kit.fontawesome.com/339e8a6f83.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="py-5 px-5 text-center">
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 col-10 mx-auto mx-md-0 col-lg-6">
          <h1>ほしいアイデアが<br>きっとある。</h1>
          <p class="lead">時間がない…そんな先生たちへ。<br>アイデアを共有して定時で帰ろう。</p>
          <%= link_to "登録して始める", signup_path , class: "btn btn-lg btn-info" %>
          <%= link_to "(企業の方へ)テストユーザーはこちら", test_sessions_path, method: :post , class: "btn btn-lg btn-warning mt-2" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12 my-5">
      <h2 class="sentence_info">IDEA BOXの特長</h2>
      <hr />
      </div>
    </div>
  <div class="py-1" >
    <div class="container">
      <div class="row">
        <div class="string col-md-8">
          <h3 class="mb-3 text-whit">写真、動画の投稿</h3>
          <div class="blockquote text-muted">
            <p class="mb-0">板書や掲示物など、を他の先生方に共有しましょう！<br>
                            あなたの実践したことが誰かのヒントにきっとなります！<br>
                            1つの投稿で複数枚投稿できます。</p>
            <div class="blockquote-footer">※個人情報が特定されてしまう投稿はご遠慮ください</div>
          </div>
        </div>
        <div class="slide col-md-4">
          <%= image_tag 'home_image.png', class: "img-fluid d-block mx-auto" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="py-1" >
    <div class="container">
      <div class="row">
        <div class="string col-md-8">
          <h3 class="mb-3 text-whit">ワークシートや指導案の添付</h3>
          <div class="blockquote text-muted">
            <p class="mb-0">作成した学習カードなどをワードやエクセル形式で共有。<br>
                            簡単に保存できるので児童生徒の実態に合わせてアレンジできます。</p>
          </div>
        </div>
        <div class="col-md-4">
           <%= image_tag 'homeimage1.jpg', class: "img-fluid d-block mx-auto" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="py-1" >
    <div class="container">
      <div class="row">
        <div class="string col-md-8">
          <h3 class="mb-3 text-whit">ニックネームで簡単登録！</h3>
          <div class="blockquote text-muted">
            <p class="mb-0">面倒な本人確認も必要ありません！<br>
                            メールアドレスや勤務地、担当学年を入力するだけで<br>
                            簡単に登録できます。</p>
          </div>
        </div>
        <div class="col-md-4">
           <%= image_tag 'home_image3.png', class: "img-fluid d-block mx-auto" %>
        </div>
      </div>
    </div>
  </div>
     
    </div>
  
 <script>
  function showElementAnimation() {
    var element = document.getElementsByClassName('img-fluid');
    if(!element) return;
  
    var showTiming = window.innerHeight > 768 ? 200 : 40;// 要素が出てくるタイミングはここで調整
    var scrollY = window.pageYOffset;
    var windowH = window.innerHeight;
    
    for (var i=0;i<element.length;i++) {
      var elemClientRect = element[i].getBoundingClientRect();
      var elemY = scrollY + elemClientRect.top;
      if(scrollY + windowH - showTiming > elemY) {
        element[i].classList.add('is-show');
      } else if (scrollY + windowH < elemY) {
        // 上にスクロールして再度非表示にする場合はこちらを記述
        element[i].classList.remove('is-show');
      }
    }
  }
  showElementAnimation();
  window.addEventListener('scroll', showElementAnimation);
  
 </script>
  </body>
</html>

 
