<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="collapse" id="collapseExample">
        <ul class = 'users pl-0'>
          <% comments.each do |comment| %>
          <li>
        　   <% if @user.avatar? %>
              <%= image_tag @user.avatar.url,  size:"50x50" %>
            <% else %>
              <%= image_tag "noavatar.png",  size:"50x50" %>
            <% end %>
            <%= comment.user.name %>
            <%= comment.content %>
            <% if current_user?(comment.user) %>
              <%= link_to "削除", comment, method: :delete,
                                    data: { confirm: "コメントを削除しますか?" }, remote: true %>
            <% end %>
          </li>
            <% end %>
          </ul>    
              
          <div class = 'form-group' id="js-comment-area">
            <%= form_with url: comments_path, method: :post, remote: true, class: 'js-form' do |f| %>
            <%= f.text_area :content, class: 'form-control', id:'content',
                                    placeholder: "コメントを入力" %>
            <%= f.hidden_field :topic_id,:value => @topic.id %>
            <%= f.hidden_field :user_id,:value => current_user.id %>
              <%= f.submit "コメントする", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
 </div>