<%= form_with(model: @topic, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<% end %>
<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="mx-auto col-lg-6 col-10">
        <h1 class="text-center">Add Picture</h1>
        <%= form_for @topic do |f| %>
        <div class="flex-row">
         </div>
         　 <div class="form-group">
           　  <%= f.label :image,"画像をアップロード" %>
            　<span class="image">
                <%#= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
                <% @topic.images.each do |image| %>
                  <%= hidden_field :topic, :images, multiple: true, value: image.identifier %>
                <% end %>
                 <%= f.file_field :images, multiple: true %>
              
              </span>
             </div> 
             <div class="form-group">
                <%= f.label :docment, "word,excel,pdfなどのファイル" %>
             <span class="docment">
               <%= f.file_field :docment, accept: "docment/docx,docment/xlsx,docment/pdf" %>
             </span>
          </div>
          <div class="form-row">
            <%= f.label :some_id_name do %>
              <div>
                <%= f.select :year_ids, Year.all.collect { |p| [ p.year_number, p.id ] }, include_blank: "学年を選択" %>
              </div>
              <div>
                <%= f.select :label_ids, Label.all.collect { |p| [ p.name, p.id ] }, include_blank: "教科を選択" %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :description, "本文　(1行目の20文字は見出しとして表示されます)" %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

        <% end %>
      </div>
    </div>
  </div>
</div>