<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= @topic.user.name %>
            </h2>
            <%= image_tag @topic.image.url %>
            <a href="<%= @topic.docment %>">ファイルを開く</a>
            <div id="favorites_buttons_<%= @topic.id %>">
              <%= render partial: 'favorites/favorite', locals: {topic: @topic} %>
            </div>
            <div class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <%= image_tag 'comment.png', class: 'topic-index-icon' %>
              <%= @comments.count %>
            </div>
            <p class="topic-text">
              <%= @topic.description %>
            </p>
            <ul class = 'users', id='js-comment-area'>
             <%= render partial: 'comments/comment', locals: { comments: @comments } %>
            </ul>  
          </div>
        </div>
      </div>
  </div>
</div>