<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 ">
         <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
             <div class="carousel-item active">
               <% if @topic.images.count > 0 %>
                 <%= image_tag @topic.images[0].url, class: "img-list" %>
               <% else %>
                 <%= image_tag "no_image.png",class: "img-list" %>
               <% end %>
             </div>
             <div class="carousel-item">
               <% if @topic.images.count >= 2 %>
                 <%  @topic.images[1..-1].each do |image| %>
                   <%= image_tag image.url, class: "img-list" %>
                 <% end %>
               <% end %>
             </div>
             <% if @topic.images.count >= 2 %>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                 <span aria-hidden="true"><i class="fas fa-arrow-alt-circle-left fa-2x" style="color: #33cccc;"></i></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                 <span aria-hidden="true"><i class="fas fa-arrow-alt-circle-right fa-2x" style="color: #33cccc;"></i></span>
                 <span class="sr-only">Next</span>
               </a> 
             <% end %>
           </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <% if @topic.user.avatar? %>
              <%= image_tag user.avatar.url, size:"50x50" %>
            <% else %>
              <%= image_tag "noavatar.png", size:"50x50" %>
            <% end %>
            <%= @topic.user.name %>
          </div>
          <div class="card-body">
            <p class="topic-text">
              <!--トピックの説明文-->
              <%= @topic.description %>
            </p>
            <p>
               <!--ドキュメントファイルが投稿されていたらファイルを表示-->
              <% unless @topic.docment.blank? %>
                <i class="fas fa-paperclip ml-3"></i><a href="<%= @topic.docment %>"><%= @topic.docment.file.filename %></a>
              <% end %>
               <% @topic.years.each do |year| %>
                 <i class="fas fa-tag"></i><%= year.year_number %>
               <% end %>
               <% @topic.labels.each do |label| %>
                 <i class="fas fa-tag"></i><%= label.name %>
              <% end %>
            </p>
            <p>
              <small class="text-muted">投稿日　<%= @topic.created_at.to_s(:datetime_jp) %></small> 
            </p>
          </div>
          <div class="card-footer">
             <div class="d-flex justify-content-end">
               <div id="favorites_buttons_<%= @topic.id %>">
                 <%= render partial: 'favorites/favorite', locals: {topic: @topic} %>
               </div>
               <div id="comment_icon" class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                 <%= render partial: 'comments/icon', locals: { comments: @comments } %>
               </div>
               <div id="submits_buttons_<%= @topic.id %>">
                 <%= render partial: 'submits/submit', locals: {topic: @topic} %>
              </div>
            </div>
              <ul class = 'users pl-0', id='js-comment-area'>
                <%= render partial: 'comments/comment', locals: { comments: @comments } %>
              </ul>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
