<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, size: "200x200" %>
          <% else %>
            <%= image_tag "noavatar.png", size: "200x200" %>
          <% end %>
            </div>
             <div class="col-md-4">
            <h5 class="card-title"><b>お名前<%= @user.name %></b></h5>
            <h6 class="card-subtitle my-2 text-muted">勤務地：<%= User.user_areas.key @user.user_area %></h6>
            <h6 class="card-subtitle my-2 text-muted">担当学年：<%= User.school_years.key @user.school_year %></h6>
            <a href="#" class="card-link">マイフォルダ</a>
            <a href="#" class="card-link">Another link</a>
            </div>
            <div class="col">
               <h5 class="card-title">自己紹介</h5>
               <p class="cardtext">
                 <%= @user.profile %>
               </p>
            </div>
          </div>
        </div>
    </section>
  <aside>
</div>
<%= render partial: 'topics/topic' %>