<%= provide(:title, @user.name) %>
<% if current_page?(current_user) %>
  <h2 class="mt-2">マイページ</h2>
<% end %>
<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, class: "rounded-circle", size: "200x200" %>
          <% else %>
            <%= image_tag "noavatar.png", class: "rounded-circle", size: "200x200" %>
          <% end %>
            </div>
             <div class="col-md-4">
            <h5 class="card-title"><b><%= @user.name %></b></h5>
            <h6 class="card-subtitle my-2 text-muted">勤務地：<%= User.user_areas.key @user.user_area %></h6>
            <h6 class="card-subtitle my-2 text-muted">担当学年：<%= User.school_years.key @user.school_year %></h6>
            <% if current_page?(current_user) %>
              <%= link_to submits_index_path, class: "btn btn-dark", method: :get do %>
                <i class="fas fa-folder-open"></i>マイフォルダ
              <% end %>
              <%= link_to edit_user_path(current_user),class: "btn btn-dark", method: :get do %>
                <i class="fas fa-cog"></i> 設定
              <% end %>
            <% end %>
            </div>
            <div class="col">
               <h5 class="card-title">自己紹介</h5>
               <p class="cardtext">
                 <%= @user.profile %>
               </p>
            </div>
          </div>
        </div>
    </section>
  <aside>
</div>
<% if @user.topics.count > 0 %>
  <%= render partial: 'topics/topic' %>
<% else %>
  <%= "#{@user.name}さんの投稿はまだありません" %>
<% end %>