<h2>マイフォルダ</h2>

  
  <div class="container">
    <!--9行目のeach文の外で書かないとコードが複雑になってしまう-->
     <% if @submit_topics.count == 0 %>
        <h4>マイフォルダは空です</h4>
      <% end %>
     <% @submit_topics.each do |topic| %>
　　<div class="border" style="padding:10px;">
    <div class="row">
      <div class="col-md-3">
        <%= link_to topic_path(id: topic.id), method: :get do %>
            <% if topic.images.count > 0 %>
               <% if topic.images[0].file.content_type.include?('image/') %>
                 <%= image_tag topic.images[0].url, class: "img-list" %>
               <% else %>
                 <div class="img-list">
                   <%= video_tag topic.images[0].url, class: "img-list", poster_skip_pipeline: true %>
                   <%= image_tag "movie_video_icon.png", class: "img-list", style: "position: absolute; left:0;" %>
                 </div>
               <% end %>
            <% else %>
              <%= image_tag "no_image.png", class: "img-list" %>
            <% end %>
        <% end %>
        </div>
          <div class="col-md-7">
            <% if topic.user.avatar? %>
              <%= image_tag user.avatar.url, size:"40x40" %>
            <% else %>
              <%= image_tag "noavatar.png", size:"40x40" %>
            <% end %>
            <%= link_to topic.user.name, topic.user %>
          <p>
            <% topic.labels.each do |label| %>
              <i class="fas fa-tag"></i><%= label.name %>
            <% end %>
          </p>
          <p class="topic-text">
            <%= topic.description.truncate(12, omission: '...') %>
          </p>
          </div>
          <div class="col-md-2 text-right">
            <!--garbageというparamsを与えてdestroyアクション内で処理を条件分岐させる-->
            <%= link_to submits_path(topic_id: topic.id, button: "garbage"), method: :delete do %>
              <i class="far fa-trash-alt fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>
   <% end %>
  </div>