 
<%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :user_area, '勤務地' %>
      <%= f.select :user_area, User.user_areas { |p| [ p.name, p.id ] }, {prompt: '選択してください'}, class: 'form-control' %>

      <%= f.label :user_job, '役職' %>
      <%= f.select :user_job, User.user_jobs { |p| [ p.name, p.id ] }, {prompt: '選択してください'}, class: 'form-control' %>
      
      <%= f.label :school_year, '担当学年（任意）' %>
      <%= f.select :school_year, User.school_years  { |p| [ p.name, p.id ] }, {prompt: '選択してください'}, class: 'form-control' %>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :profile, "自己紹介" %>
      <%= f.text_area :profile, class: 'form-control' %>
      <label>アイコン</label>
      <div class="gravatar_edit">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: "rounded-circle", size: "200x200" %>
      <% else %>
        <%= image_tag "noavatar.png", class: "rounded-circle", size: "200x200"%>
      <% end %>
 　　 <%= f.file_field :avatar, id: "file-sample" %>
    　</div>
    　<img class="rounded-circle" id="file-preview" width="200" height="200" style="border:none;" >
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
    <script>
document.getElementById('file-sample').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>